<div class="jumbotron min-vh-100">

    <div class="container">
        <div class="row">
        <form [formGroup]="chooseServiceForm" (ngSubmit)="editService()" *ngIf="chooseServiceToEditForm">
            <label>Choose service to edit: </label><br>
            <input id="service" type="text" formControlName="serviceName"><br><br>
            <button type="submit">Continue</button>
        </form>
        </div>
        <div class="row" *ngIf="serviceToEditForm">
        <div class="col-sm" *ngIf="showServiceData">
        <div>
           Product name: {{ product }} <br><br>
           Service name: {{ service }} <br><br>
           Sourcecode link: {{ github }}  <br><br>
           Dev URL: {{ dev_url }} <br><br>
           Vulnerability management: {{ vulnerability_management }} <br><br>
           Defect Dojo: {{ defect_dojo }} <br><br>
           DAST: {{ zap }} <br><br>
           Dependecies scan : {{ sourceclear }} <br><br>
           Dependecies scan results link: {{ sourceclear_link }} <br><br>
           Docker image scan: {{ docker_scan }} <br><br>
           CIS scan: {{ cis_scanner }} <br><br>
           Security manual pentest run last 6 months: {{ burp }} <br><br>
        </div>
        </div>
        <div class="col-sm" *ngIf="serviceToEditForm">
            <app-survey [json]="json" (submitSurvey)="onSubmit($event)"></app-survey>
        </div>
        </div>
    </div>
</div>