<div class="jumbotron min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="alert alert-danger animated fadeInRight" role="alert" *ngIf="showModalError">
                    <h4 class="alert-heading">Oops!</h4>
                    <p> {{errorMessage}} </p>
                    <p class="mb-0">Please contact AppSec team for more information!</p>
                </div>
                <form [formGroup]="chooseServiceForm" (ngSubmit)="editService()" *ngIf="chooseServiceToEditForm">
                    <label class="label-edit-security-controls">Enter service name to start editing security controls:
                    </label><br>
                    <input class="input-edit-security-control" id="service" type="text"
                        formControlName="service"><br><br>
                    <button [disabled]="!chooseServiceForm.valid" class="continue-button"
                        type="submit">Continue</button>
                </form>
            </div>
        </div>
        <div class="row" *ngIf="serviceToEditForm">
            <div class="col-sm" *ngIf="serviceToEditForm">
                <app-survey [json]="json" [answers]="answers" (submitSurvey)="onSubmit($event)"></app-survey>
            </div>
        </div>

    </div>
</div>