.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: white !important;
  border-radius: .3rem;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #d0d0d0; 
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 700;
}

h3,h4,h5 {
  color: #4173c9;
}

h2{
  padding-top: 1%;
  font-weight: 200 !important;
  color: #323232;
  text-align: center;
}


.btn-primary:hover {
  color: white;
  background-color: #0048c3;
  border-color: #0048c3;
  font-weight: lighter;
  /*font-size: 0.8rem;*/
}

.btn-primary {
  color: white;
  background-color: #4173c9;
  border-color: #4173c9;
  font-weight: lighter;
  /*font-size: 0.8rem;*/
}

