<div class="jumbotron">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <p class="lead">If you need to assess security impact of a production change
        in your Google Cloud project or a service, we've got you covered.
        To estimate an impact score, please select the following options.</p>
    </div>
    <br>
    <br>
    <div class="row">
      <br><br><br><br><br><br>
      <div class="col-sm">
        <mdb-card class="animated fadeIn finite">
          <mdb-card-body>
            <br>
            <p>
              <mdb-icon fas icon="dice-d20" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
            </p>
            <br>
            <!--Title-->
            <mdb-card-title>
              <h4>Jira Security Impact Assessment</h4>
            </mdb-card-title>
            <br>
            <!--Text-->
            <div id="cvssboard"></div>
            <br>
            <button routerLink="/cis" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>