h2{
  font-weight: 200 !important;
  color: #4173c9;
  padding-top: 2%;
  text-align: center;
}
.sv_main .sv_body {
  background-color: white;
  border-top: 2px solid #5985d0 !important;
}
.sv_main .sv_container .sv_body .sv_progress .sv_progress_bar > span {
  position: absolute;
  top: -1.5em;
  display: none !important;
  white-space: nowrap;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
  font-weight: lighter !important;
  font-size: 1em !important;
  color: #423f3f !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  margin: 0.5em 0;
}

body {
  margin: 0 !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  line-height: 1.7 !important;
  color: #212529 !important;
  text-align: left !important;
  background-color: #fff !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: lighter;
  line-height: 1.1;
  color: inherit;
}
