<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color">
    <mdb-navbar-brand><a class="navbar-brand" href="#"><span style="font-weight: bolder;">DSP</span> AppSec Portal</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" href="/#" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="/scan" mdbWavesEffect>Scan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="/newservice" mdbWavesEffect>New Service</a>
        </li>
  
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/broadinstitute/dsp-appsec-infrastructure-apps">
            <mdb-icon fab icon="github" size="2x"></mdb-icon>
          </a> 
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!--/.Navbar-->