<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color">
  <mdb-navbar-brand><a class="navbar-brand" href="#"><span style="font-weight: bolder;">AppSec</span> Portal</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link waves-light" href="/about" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
          aria-expanded="false">
          Questionnaires
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/TerraNewService" >Terra New Service Questionnaire</a></li>
          <li><a class="dropdown-item" href="/generalServiceQuestionnaire" >General New Service Questionnaire</a></li>
          <li><a class="dropdown-item" href="/new-3rd-party-app">New 3rd Party App Questionnaire</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
          aria-expanded="false">
          Scan
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/scan-service">Scan service</a></li>
          <li><a class="dropdown-item" href="/gcp-project-security-posture/scan">Scan GCP project</a></li>
          <li><a class="dropdown-item" href="/gcp-project-security-posture/latest">Get GCP project scan results</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="/jira-ticket-risk-assesment" mdbWavesEffect>Jira Ticket Risk Assesment</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
          aria-expanded="false">
          Security Controls
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/search-service-security-controls">Search your service</a></li>
          <li><a class="dropdown-item" href="/security-control/view">List security controls</a></li>
          <li><a class="dropdown-item" href="/security-control/create">Add new security controls</a></li>
          <li><a class="dropdown-item" href="/security-control/edit">Edit security controls</a></li>
          <li><a class="dropdown-item" href="security-control/delete-service">Remove service security controls</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
          aria-expanded="false">
          Security Requests
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/threat-model/request">Threat Model</a></li>
          <li><a class="dropdown-item" href="/security-pentest/request">Security pentest</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/broadinstitute/dsp-appsec-infrastructure-apps">
          <mdb-icon fab icon="github" size="3x"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>