<div class="jumbotron min-vh-100">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <p class="lead">To get started please select one of the following options.</p>
      </div>
      <br>
      <br>
      <div class="row">
        <br><br><br><br><br><br>
        <div class="col-sm">
          <div class="card animated fadeIn finite">
            <div class="card-body">
              <br>
              <p>
                <span class="fas fa-network-wired fa-3x ml-2" aria-hidden="true"></span>
              </p>
              <br>
                <h4 class="card-title">Threat model request</h4>
              <br>
              <p div="card-text"> I am building a new service/I am changing an existing service and I need to learn about threats and how to prevent them.
              </p>
              <br>
              <button routerLink="/threat-model/request" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card animated fadeIn finite">
            <div class="card-body">
              <br>
              <p>
                <span class="fas fa-hat-cowboy fa-3x ml-2" aria-hidden="true"></span>
              </p>
              <br>
                <h4 class="card-title">Security manual pentest</h4>
              <br>
              <p class="card-text"> I have a new service/I have implemented new features for an existing service and I need to know if there is any vulnerability.
              </p>
              <br>
              <button routerLink="/security-pentest/request" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>