<div class="jumbotron min-vh-100">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <p class="lead">To get started please select one of the following options.</p>
      </div>
      <br>
      <br>
      <div class="row">
        <br><br><br><br><br><br>
        <div class="col-sm">
          <mdb-card class="animated fadeIn finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="network-wired" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
              </p>
              <br>
              <mdb-card-title>
                <h4>Threat model request</h4>
              </mdb-card-title>
              <br>
              <mdb-card-text> I am building a new service/I am changing an existing service and I need to learn about threats and how to prevent them.
              </mdb-card-text>
              <br>
              <button routerLink="/threat-model/request" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-sm">
          <mdb-card class="animated fadeIn finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="hat-cowboy" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
              </p>
              <br>
              <mdb-card-title>
                <h4>Security manual pentest</h4>
              </mdb-card-title>
              <br>
              <mdb-card-text> I have a new service/I have implemented new features for an existing service and I need to know if there is any vulnerability.
              </mdb-card-text>
              <br>
              <button routerLink="/security-pentest/request" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>