  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <p class="lead">Whether you need tips and suggestions launching a new service, or you want to make sure you are
          doing the right thing from a security point of view, we've got you covered.
          To get started please select one of the following options.</p>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm">
          <mdb-card class="animated zoomInUp finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="feather" size="3x" class="ml-2" aria-hidden="true" class="center"></mdb-icon>
              </p>
              <br>
              <!--Title-->
              <mdb-card-title class="text-center">
                <h4>New service</h4>
              </mdb-card-title>
              <br>
              <!--Text-->
              <mdb-card-text> I'm building a new Terra service. I have a clear idea about its implementation,
                deployment,
                etc and want to make sure I'm doing the right things from a security perspective.
                <br><br>
              </mdb-card-text>
              <br>
              <div class="text-center">
                <a href="/newservice" mdbBtn color="primary" mdbWavesEffect>Start</a>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-sm">
          <mdb-card class="animated zoomInUp finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="bolt" size="3x" class="ml-2" aria-hidden="true" class="center"></mdb-icon>
              </p>
              <br>
              <!--Title-->
              <mdb-card-title class="text-center">
                <h4>Scan project</h4>
              </mdb-card-title>
              <br>
              <!--Text-->
              <mdb-card-text> My team is working with Google Cloud services, and we want to make sure we are using these
                services in
                the right way from a security perspective.
                <br><br>
              </mdb-card-text>
              <br>
              <div class="text-center">
                <a href="/scan" mdbBtn color="primary" mdbWavesEffect>Start</a>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-sm">
          <mdb-card class="animated zoomInUp finite">
            <mdb-card-body>
              <!--Title-->
              <br>
              <p>
                <mdb-icon fas icon="bell" size="3x" class="ml-2" aria-hidden="true" class="center"></mdb-icon>
              </p>
              <br>
              <mdb-card-title class="text-center">
                <h4>Coming soon</h4>
              </mdb-card-title>
              <br>
              <!--Text-->
              <mdb-card-text> I want to use a third party tool the security posture of which
                affects one of our internally critical systems. I want to be aware of security-related items that must
                be considered to determine the risk of.
              </mdb-card-text>
              <br>
              <div class="text-center">
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Start</a>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>