<div class="container">
  <h1><span style="font-weight: bolder;">DSP</span> AppSec Portal</h1>
  <div class="row">
  <div class="col-sm text-center">
  <p>Whether you need tips and suggestions launching a new service, or you want to make sure you are doing the right thing from a security point of view, we've got you covered. </p>
  <p>To get started please select one of the following options.</p>
  <h2> <span style="font-weight: bolder;"> T</span>imeline</h2>
  <div class="row">
    <div class="col-sm-8"><div class="second"><h4><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span style="font-weight: bolder;">  2 months </span> before deployment due date</h4> </div></div>
    <div class="col-sm-4"><div class="third"><h4> <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> <span style="font-weight: bolder;">  1 week </span> before deployment due date</h4></div></div>
</div>
</div>
  <div class="row">
    <div class="col-sm-8">
      Review this checklist so you know what to expect for deployment. <br>
      Decide (then confirm with Infosec) whether you need to write an SIA. If needed: <br>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Write it <br>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Get it reviewed internally <br>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Get it reviewed by the government <br>
      Talk to QA. Make sure you have a plan in place to have this tested by the due date. <br>
      Talk to DevOps. Make sure you let them know of the due date. Confirm that they will be able to offer the resources you think you may need. This may be a negotiation.<br>
      If timelines seem tight, escalate. 
    </div>
    <div class="col-sm-4">
      If you aren’t already completely done with the checklist and relaxing on a hammock with a martini in one hand you must escalate immediately.
    </div>
  <hr>
  </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="border">
        <div class="text-inside-box">
          I'm building a new Terra service. I have a clear idea about its implementation, deployment, etc and want to make sure I'm doing the right things from a security perspective.
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="border">
        <div class="text-inside-box">
          I want to build a new service. I'd like some tips and suggestions about architecting this service in Google Cloud Platform, how to do CI/CD, follow security best practices, etc.
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="border">
        <div class="text-inside-box">
          I want to use a third party tool the security posture of which affects one of our internally critical systems. I want to be aware of security-related items that must be considered to determine the risk of. 
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm text-center">
        <button class="btn btn-primary" routerLink="/newService">Get Started</button>
      </div>
      <div class="col-sm text-center">
        <button class="btn btn-primary" routerLink="" disabled>Coming soon...</button>
      </div>
      <div class="col-sm text-center">
        <button class="btn btn-primary" routerLink="" disabled>Coming soon...</button>
      </div>
      </div>
      <div class="row">
        </div>
</div> 