  <div class="jumbotron">
    <div class="container">
      <br> <br>
      <div class="row">
        <p class="lead">Whether you need tips and suggestions launching a new service, or you want to make sure you are
          doing the right thing from a security point of view, we've got you covered.
          To get started please select one of the following options.</p>
      </div>
      <br> <br>  <br> <br>
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <br>
              <br>
                <h4 class="card-title text-center">New Service Requirements</h4>
              <br>
              <p class="card-text"> I am building a new service and want to make sure I'm doing the right things from a security perspective.
                <br>
              </p>
              <br>
              <div class="text-center">
                <a href="/TerraNewService" class="btn btn-primary" color="primary">Start</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <br>
              <br>
                <h4 class="card-title text-center">Jira Ticket Risk Assessment </h4>
              <br>
              <p class="card-text"> I want to calculate the risk of the Jira ticket to make sure I am doing 
                the right things from a security perspective.
              </p>
              <br>
              <div class="text-center">
                <button routerLink="/jira-ticket-risk-assesment" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <br>
              <br>
                <h4 class="card-title text-center">Security Tools For My Service </h4>
              <br>
              <p class="card-text"> I want to see the configuration of the security controls (SAST, DAST, Dependency scans, etc) for my service and the latest scan results.
              </p>
              <br>
              <div class="text-center">
                <button routerLink="/security-control/view" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
