<div class="jumbotron min-vh-100">
  <div class="container">
    <div class="row">
      <br><br>
      <div class="col-sm">
        <p class="lead-title animated fadeIn finite">SDARQ</p>
        <br>
        <p class="animated fadeIn finite">A tool built by the Application Security Team at the DSP, Broad Institute.
        </p>

        <p class="animated fadeIn finite">Sdarq is a coordination platform to guide both developers and AppSec
          professionals through an SDLC and provide interfaces into various tools and bind them.</p>

        <p class="animated fadeIn finite"> It allows product teams to be aware of all security-related and
          compliance-related requirements as early as possible, ideally before they have even written a single line of
          code and for better visibility and eventually better mitigation for any potential vulnerabilities that may
          exist in any service. By serving as a bridge on the partnership between the Appsec team and Product teams,
          SDARQ helps engineers develop secure services as part of Terra by generating actionable and specific security
          requirements based on the technical characteristics of the service being built.
        </p>
        <p class="animated fadeIn finite">SDARQ orchestrates different security tools and scanners owned by the DSP
          Appsec team. These tools include DefectDojo, CodeDx, CIS Scanner, ZAP Scanner.
        </p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <p class="lead animated fadeIn finite">What does it offer?</p>
    <br>
      <div class="row">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <br>
                <h4 class="card-title">New Service Requirements</h4>
              <br>
              <p class="card-text">
                <ul>
                  <li class="animated fadeIn finite">Creates a security checklist for dev teams</li>
                  <li class="animated fadeIn finite">Reports to Slack</li>
                  <li class="animated fadeIn finite">Creates tickets in Jira</li>
                  <li class="animated fadeIn finite">Creates product in DefectDojo</li>
                  <li class="animated fadeIn finite">Scan GCP project if provided</li>
                  <li class="animated fadeIn finite">Creates a new item at Security Controls</li>
                </ul>
              <br>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <br>
                <h4 class="card-title text-center">CIS Scanner</h4>
              <br>
              <p class="card-text">
                <ul>
                  <li class="animated fadeIn finite">Assess security posture of GCP projects</li>
                  <li class="animated fadeIn finite">Automate scans and automates reports</li>
                  <li class="animated fadeIn finite">Report to Slack</li>
                  <br><br><br>
                </ul>
              <br>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <br>
                <h4 class="card-title text-center">Service Scan</h4>
              <br>
              <p class="card-text">
                <ul>
                  <li class="animated fadeIn finite">Assess security posture of a service/endpoint</li>
                  <li class="animated fadeIn finite">Report to Slack</li>
                  <li class="animated fadeIn finite">Upload results to CodeDx</li>
                  <li class="animated fadeIn finite">Upload results to DefectDojo</li>
                  <br><br>
                </ul>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <br>
                <h4 class="card-title text-center">Jira Ticket Risk Assessment </h4>
              <br>
              <p class="card-text">
                <ul>
                  <li class="animated fadeIn finite">Assess security risk of dev’s actions to a service</li>
                  <br>
                  <br>
                  <br>
                  <br>
                </ul>
              <br>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <br>
                <h4 class="card-title">Service/product Security Controls</h4>
              <br>
              <p class="card-text">
                <ul>
                  <li class="animated fadeIn finite">List all security controls implemented for a service/product</li>
                  <li class="animated fadeIn finite">Add/edit security controls for a service </li>
                  <br>
                  <br>
                  <br>
                </ul>
              <br>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <br>
                <h4 class="card-title text-center">Security Requests </h4>
              <br>
              <p class="card-text">
                <ul>
                  <li class="animated fadeIn finite">Send requests to AppSec team to build a threat model for your
                    service.</li>
                  <li class="animated fadeIn finite">Send requests to AppSec team to run a security pentest against your
                    service.</li>
                  <br>
                  <br>
                </ul>
              <br>
            </div>
          </div>
        </div>

    </div>
      <br>
      <br>
      <br>
      <div class="row">
        <p class="lead animated fadeIn finite">Questions?</p>
        <p class="emailblock text-center">Email appsec@broadinstitute.org or reach out on Slack.</p>
      </div>
  </div>
</div>