<div class="jumbotron">
    <div class="container">
        <div class="row">
            <br><br>
            <div class="col-sm">
            <p class="lead-title animated fadeIn finite">_ SDARQ</p>
            <br>
            <p class="animated fadeIn finite">Organizations have a lot of data, many services, many products,
                how is it supposed to manage all the information, keep track and assess security
                posture for each product/service/project that comes up? </p>

            <p class="animated fadeIn finite">SDARQ is a security tool that aims to unify and simplify security processes, help dev teams to boost
                security and satisfy compliance
                requirements early in SDLC by minimizing security team efforts and simplifying dev team work.
                Since most organizations are using Cloud Services, SDARQ assesses security posture of
                GCP projects by using its own scanners.
            </p>
            </div>
            <div class="col-sm">
                <p style="text-align:center;"> <mdb-icon fab icon="battle-net"></mdb-icon></p>  
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <p class="lead animated fadeIn finite">_ What does it offer?</p>
        <br>
        <div class="row">
            <div class="col-sm">
              <mdb-card class="">
                <mdb-card-body>
                  <br>
                  <mdb-card-title class="text-center">
                    <h5>New Service Requirements</h5>
                  </mdb-card-title>
                  <br>
                  <mdb-card-text> 
                    <ul>
                        <li class="animated fadeIn finite">Assess security posture of a product/service</li>
                        <li class="animated fadeIn finite">Creates a security checklist for dev teams</li>
                        <li class="animated fadeIn finite">Reports to Slack</li>
                        <li class="animated fadeIn finite">Creates tickets in Jira</li>
                        <li class="animated fadeIn finite">Creates product in DefectDojo</li>
                    </ul>
                  </mdb-card-text>
                  <br>
                </mdb-card-body>
              </mdb-card>
            </div>
            <div class="col-sm">
              <mdb-card class="">
                <mdb-card-body>
                  <br>
                  <mdb-card-title class="text-center">
                    <h5>CIS Scanner</h5>
                  </mdb-card-title>
                  <br>
                  <mdb-card-text> 
                    <ul>
                        <li class="animated fadeIn finite">Assess security posture of GCP projects</li>
                        <li class="animated fadeIn finite">Automates scans and automates reports</li>
                        <li class="animated fadeIn finite">Reports to Slack</li>
                    </ul>
                  </mdb-card-text>
                  <br>
                </mdb-card-body>
              </mdb-card>
            </div>
            <div class="col-sm">
              <mdb-card class="">
                <mdb-card-body>
                  <br>
                  <mdb-card-title class="text-center">
                    <h5>Jira Ticket Risk Assessment </h5>
                  </mdb-card-title>
                  <br>
                  <mdb-card-text> 
                    <ul>
                        <li class="animated fadeIn finite">Assess security risk of dev’s actions to a service</li>
                    </ul>
                  </mdb-card-text>
                  <br>
                </mdb-card-body>
              </mdb-card>
            </div>
          </div>
    </div>
</div>