.jumbotron {
    background: linear-gradient(87deg, #2438a2 0, #2196F3 100%) !important;
    margin-bottom: 0px;
  }

.lead-title {
    color: white;
    font-size: 2em;
  }

.lead {
    color: white;
    font-size: 1.6em;
    text-align:center;
  }

.title{
    color: white; 
  }

p{
      color:white !important;
      font-size: 1.2em;
  }
.card-title {
    margin-bottom: 0.75rem;
    color: #2544ac;
    font-weight: bolder;
}

.emailblock {
  background-color: rgba(12, 3, 126, 0.815);
  padding: 1em;
}