<div class="jumbotron min-vh-100">
  <div class="container">
    <div class="row">
      <br><br>
      <div class="col-sm">
        <p class="lead-title animated fadeIn finite">SDARQ</p>
        <br>
        <p class="animated fadeIn finite">A tool built by the Application Security Team at the DSP, Broad Institute. </p>

        <p class="animated fadeIn finite">SDARQ was built to integrate security requirements throughout different phases
          in the SDLC. Product teams develop new services and features all the time. Retrofitting security is a very
          costly exercise both from a technical standpoint as well as from a security perspective. </p>
        <p class="animated fadeIn finite"> It allows product teams to be aware of all security-related and
          compliance-related requirements as early as possible, ideally before they have even written a single line of
          code. By serving as a bridge on the partnership between the Appsec team and Product teams, SDARQ helps DSP
          develop secure services as part of Terra by generating actionable and specific security requirements based on
          the technical characteristics of the service being built.
        </p>
        <p class="animated fadeIn finite">SDARQ is composed of several modules that perform application security scans
          and CIS benchmark scans. This allows for better visibility and eventually better mitigation for any potential
          vulnerabilities that may exist in Terra services. Additionally the CIS benchmark scans allow us to apply
          defense in depth and hardening which help us protect data and assets in the cloud. </p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <p class="lead animated fadeIn finite">What does it offer?</p>
    <br>
    <div class="row">

      <div class="col-sm">
        <mdb-card class="">
          <mdb-card-body>
            <br>
            <mdb-card-title class="text-center">
              <h5>New Service Requirements</h5>
            </mdb-card-title>
            <br>
            <mdb-card-text>
              <ul>
                <li class="animated fadeIn finite">Creates a security checklist for dev teams</li>
                <li class="animated fadeIn finite">Reports to Slack</li>
                <li class="animated fadeIn finite">Creates tickets in Jira</li>
                <li class="animated fadeIn finite">Creates product in DefectDojo</li>
                <li class="animated fadeIn finite">Scan GCP project if provided</li>
                <li class="animated fadeIn finite">Creates a new item at Security Controls</li>
              </ul>
            </mdb-card-text>
            <br>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm">
        <mdb-card class="">
          <mdb-card-body>
            <br>
            <mdb-card-title class="text-center">
              <h5>CIS Scanner</h5>
            </mdb-card-title>
            <br>
            <mdb-card-text>
              <ul>
                <li class="animated fadeIn finite">Assess security posture of GCP projects</li>
                <li class="animated fadeIn finite">Automate scans and automates reports</li>
                <li class="animated fadeIn finite">Report to Slack</li>
                <br>
              </ul>
            </mdb-card-text>
            <br>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm">
        <mdb-card class="">
          <mdb-card-body>
            <br>
            <mdb-card-title class="text-center">
              <h5>Service Scan</h5>
            </mdb-card-title>
            <br>
            <mdb-card-text>
              <ul>
                <li class="animated fadeIn finite">Assess security posture of a service/endpoint</li>
                <li class="animated fadeIn finite">Report to Slack</li>
                <li class="animated fadeIn finite">Upload results to CodeDx</li>
                <br>
              </ul>
            </mdb-card-text>
            <br>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-sm">
        <mdb-card class="">
          <mdb-card-body>
            <br>
            <mdb-card-title class="text-center">
              <h5>Jira Ticket Risk Assessment </h5>
            </mdb-card-title>
            <br>
            <mdb-card-text>
              <ul>
                <li class="animated fadeIn finite">Assess security risk of dev’s actions to a service</li>
                <br>
                <br>
                <br>
              </ul>
            </mdb-card-text>
            <br>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm">
        <mdb-card class="">
          <mdb-card-body>
            <br>
            <mdb-card-title class="text-center">
              <h5>Service/product Security Controls</h5>
            </mdb-card-title>
            <br>
            <mdb-card-text>
              <ul>
                <li class="animated fadeIn finite">List all security controls implemented for a service/product</li>
                <li class="animated fadeIn finite">Add/edit security controls for a service </li>
                <li class="animated fadeIn finite">SOON: Send alerts to AppSec team if any security controls are missing. </li>
                <br>
              </ul>
            </mdb-card-text>
            <br>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-sm">
        <mdb-card class="">
          <mdb-card-body>
            <br>
            <mdb-card-title class="text-center">
              <h5>Security Requests </h5>
            </mdb-card-title>
            <br>
            <mdb-card-text>
              <ul>
                <li class="animated fadeIn finite">Send requests to AppSec team to build a threat model for your service.</li>
                <br>
                <br>
                <br>
              </ul>
            </mdb-card-text>
            <br>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
    <p class="lead animated fadeIn finite">Questions?</p>
    <p class="emailblock text-center">Email appsec@broadinstitute.org or reach out on Slack.</p>
  </div>
  </div>
</div>