<div class="jumbotron min-vh-100">
    <div class="container">
      <h5>Introducing a New 3rd Party Appliaction?</h5>
      <p>
        You’re launching a new app, congratulations!
        Great,
        let's make sure you're aware of security-related considerations related to your 3rd party app. A new app is defined
        as a component that is deployed as a Leo app in a CLoud Provider (GCP, Azure, etc).
      </ul>
      <br>
      <h5>How do I get started?</h5>
      <p>
        The set of questions below will be used to gain a better understanding of your architecture, tech stack and
        security posture,
        and provide security-related advice and action items. This will enable AppSec and DevOps teams to be involved
        as early as
        possible in the SDLC. We want to make sure that all new services have common understanding of security
        considerations.
      </p>
  
      <a href="/3rd-party-app-questionnaire" mdbBtn mdbBtn type="button" gradient="blue" rounded="true"
        mdbWavesEffect>Start</a>
    </div>
  </div>