<div class="jumbotron min-vh-100">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <p class="lead">To get started please select one of the following options.</p>
      </div>
      <br>
      <br>
      <div class="row">
        <br><br><br><br><br><br>
        <div class="col-sm">
          <div class="card animated fadeIn finite">
            <div class="card-body">
              <br>
              <p>
                <span class="fas fa-table fa-3x ml-2" aria-hidden="true"></span>
              </p>
              <br>
                <h4 class="card-title">List security controls</h4>
              <br>
              <p class="card-text"> I am looking for all security controls for all our services.
              </p>
              <br>
              <button routerLink="/security-control/view" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card animated fadeIn finite">
            <div class="card-body">
              <br>
              <p>
                <span class="fas fa-pencil-alt fa-3x ml-2" aria-hidden="true"></span>
              </p>
              <br>
                <h4 class="card-title">Add security controls </h4>
              <br>
              <p class="card-text"> Adding security controls for a service for the first time.
              </p>
              <br>
              <button routerLink="/security-control/create" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card animated fadeIn finite">
              <div class="card-body">
                <br>
                <p>
                  <span class="fas fa-redo fa-3x ml-2" aria-hidden="true"></span>
                </p>
                <br>
                  <h4 class="card-title">Edit security controls</h4>
                <br>
                <p class="card-text"> Security controls for a service have changed and need to edit them.
                </p>
                <br>
                <button routerLink="/security-control/edit" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>