<div class="jumbotron min-vh-100">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <p class="lead">To get started please select one of the following options.</p>
      </div>
      <br>
      <br>
      <div class="row">
        <br><br><br><br><br><br>
        <div class="col-sm">
          <mdb-card class="animated fadeIn finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="table-list" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
              </p>
              <br>
              <mdb-card-title>
                <h4>List security controls</h4>
              </mdb-card-title>
              <br>
              <mdb-card-text> I am looking only for the security controls for my service.
              </mdb-card-text>
              <br>
              <button routerLink="/search-service-security-controls" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-sm">
          <mdb-card class="animated fadeIn finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="table" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
              </p>
              <br>
              <mdb-card-title>
                <h4>List security controls</h4>
              </mdb-card-title>
              <br>
              <mdb-card-text> I am looking for all security controls implemented to a specific/ all services.
              </mdb-card-text>
              <br>
              <button routerLink="/security-control/view" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-sm">
          <mdb-card class="animated fadeIn finite">
            <mdb-card-body>
              <br>
              <p>
                <mdb-icon fas icon="pencil-alt" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
              </p>
              <br>
              <mdb-card-title>
                <h4>Add security controls </h4>
              </mdb-card-title>
              <br>
              <mdb-card-text> Adding security controls for a service for the first time.
              </mdb-card-text>
              <br>
              <button routerLink="/security-control/create" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-sm">
            <mdb-card class="animated fadeIn finite">
              <mdb-card-body>
                <br>
                <p>
                  <mdb-icon fas icon="redo" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
                </p>
                <br>
                <mdb-card-title>
                  <h4>Edit security controls</h4>
                </mdb-card-title>
                <br>
                <mdb-card-text> Security controls for a service have changed and need to edit them.
                </mdb-card-text>
                <br>
                <button routerLink="/security-control/edit" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
              </mdb-card-body>
            </mdb-card>
          </div>
      </div>
    </div>
  </div>