.jumbotron {
    border-radius: 0.125rem;
    background: linear-gradient(87deg, #2438a2 0, #2196F3 100%) !important;
    overflow-y: auto;
    height: 85.5vh;
    margin-bottom: 0px;
    color:white;
  }