<div class="jumbotron min-vh-100">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <p class="lead">Whether you need to scan your Google Cloud project or a service, or you want to make sure you are
        doing the right thing from a security point of view, we've got you covered.
        To get started please select one of the following options.</p>
    </div>
    <br>
    <br>
    <div class="row">
      <br><br><br><br><br><br>
      <div class="col-sm">
        <mdb-card class="animated fadeIn finite">
          <mdb-card-body>
            <br>
            <p>
              <mdb-icon fas icon="dice-d20" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
            </p>
            <br>
            <mdb-card-title>
              <h4>GCP Project Security</h4>
            </mdb-card-title>
            <br>
            <mdb-card-text> My team is working with Google Cloud services and we want to make sure we are using these
              services in
              the right way from a security perspective.
            </mdb-card-text>
            <br>
            <button routerLink="/cis" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm">
        <mdb-card class="animated fadeIn finite">
          <mdb-card-body>
            <br>
            <p>
              <mdb-icon fas icon="rocket" size="3x" class="ml-2" aria-hidden="true"></mdb-icon>
            </p>
            <br>
            <mdb-card-title>
              <h4>Scan Service</h4>
            </mdb-card-title>
            <br>
            <mdb-card-text>My team is working with a service and we want to make sure this service doesn't
              have any OWASP vulnerability.
            </mdb-card-text>
            <br>
            <button routerLink="/scan-service" mdbBtn type="button" color="primary" mdbWavesEffect>Start</button>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>