<div class="container">
    <br>
    <br>
    <div class="row">
      <p class="lead">Whether you need tips and suggestions launching a new service, or you want to make sure you are doing the right thing from a security point of view, we've got you covered.
        To get started please select one of the following options.</p>
    </div>
    <br>
    <br>
        <div class="row">
          <br><br><br><br><br><br>
          <div class="col-sm">
            <mdb-card class="animated zoomInUp finite">
              <mdb-card-body>
                <br>
                <p><mdb-icon fas icon="dice-d20" size="3x" class="ml-2"  aria-hidden="true"></mdb-icon></p>
                <br>
                <!--Title-->
                <mdb-card-title >
                  <h4>CIS</h4>
                </mdb-card-title>
                <br>
                <!--Text-->
                <mdb-card-text> My team is working with Google Cloud services, and we want to make sure we are using these services in 
                    the right way from a security perspective.
                </mdb-card-text>
                <br>
                <a href="/cis/scan" mdbBtn color="primary" mdbWavesEffect>Start</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-sm">
            <mdb-card class="animated zoomInUp finite">
              <mdb-card-body>
                <br>
                <p><mdb-icon fas icon="rocket" size="3x" class="ml-2"  aria-hidden="true"></mdb-icon></p>
                <br>
                <!--Title-->
                <mdb-card-title>
                  <h4>App</h4>
                </mdb-card-title>
                <br>
                <!--Text-->
                <mdb-card-text> My team is working with Google Cloud services, and we want to make sure we are using these services in 
                  the right way from a security perspective.
                </mdb-card-text>
                <br>
                <a href="/" mdbBtn color="primary" mdbWavesEffect>Start</a>
              </mdb-card-body> 
            </mdb-card>
          </div>
          <div class="col-sm">
            <mdb-card class="animated zoomInUp finite">
              <mdb-card-body>  
                <!--Title-->
                <br>
                <p><mdb-icon fas icon="heart-broken" size="3x" class="ml-2"  aria-hidden="true"></mdb-icon></p>
                <br>
                <mdb-card-title>
                  <h4>Vulnerabilities</h4>
                </mdb-card-title>
                <br>
                <!--Text-->
                <mdb-card-text> I want to build a new service. I'd like some tips and suggestions about architecting this service in Google Cloud Platform,
                   how to do CI/CD, follow security best practices, etc.
                </mdb-card-text>
                <br>
                <a href="/" mdbBtn color="primary" mdbWavesEffect class="center">Start</a>
              </mdb-card-body>
            </mdb-card>
            <br>
            <br>
            <br>
          </div>
        </div>
</div> 
