---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ${JOB_CONFIG_MAP}
  namespace: ${NAMESPACE}
data:
  spec: |
    template:
      spec:
        runtimeClassName: gvisor
        nodeSelector:
          cloud.google.com/gke-nodepool: batch
        restartPolicy: OnFailure
        containers:
          - name: NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['NAME']
            image: us.gcr.io/dsp-appsec-infra-prod/srcclr_scanner
            imagePullPolicy: Always
            env:
            - name: PROJECT
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['PROJECT']
            - name: BRANCH
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['BRANCH']
            - name: REPO
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['REPO']
            - name: SRCCLR_API_TOKEN_PATH
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['SRCCLR_API_TOKEN_PATH']
            - name: ORG
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['ORG']
            - name: SCAN_SUBDIR
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['SUBDIR']