{%- set params = [{ 
                    "project": "firecloud-ui", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "firecloud-orchestration", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "cromwell", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "rawls", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "leonardo", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "sam", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "secondary-analysis", 
                    "branch": "master", 
                    "org": "humancellatlas", 
                    "subdir": "", 
                  },
                  { 
                    "project": "agora", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "consent-ontology", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "consent", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "thurloe", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "clio", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "single_cell_portal_core", 
                    "branch": "development", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "saturn-ui", 
                    "branch": "dev", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "bond", 
                    "branch": "develop", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "workbench-tos", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "/function", 
                  },
                  { 
                    "project": "calhoun", 
                    "branch": "master", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "orsp-pub", 
                    "branch": "master", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "duos-ui", 
                    "branch": "develop", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "jade-data-repo-ui", 
                    "branch": "develop", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "jade-data-repo", 
                    "branch": "develop", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "depmap", 
                    "branch": "master", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "transporter", 
                    "branch": "master", 
                    "org": "DataBiosphere", 
                    "subdir": "", 
                  },
                  { 
                    "project": "martha", 
                    "branch": "dev", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "job-manager", 
                    "branch": "master", 
                    "org": "DataBiosphere", 
                    "subdir": "/ui", 
                  },
                  { 
                    "project": "carrot", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "import-service", 
                    "branch": "develop", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  }]
%}
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: sourceclear-dsde-pubsub
  namespace: ${NAMESPACE}
  labels:
    jobgroup: weekly-sourceclear-scans
spec:
  schedule: "0 0 * * 0"
  jobTemplate:
    spec:
      template:
        metadata:
            name: dsde-weekly-sourceclear-scans
            labels:
                jobgroup: weekly-sourceclear-scans
        spec:
            serviceAccountName: srcclr-dsde-ksa
            runtimeClassName: gvisor
            nodeSelector:
              cloud.google.com/gke-nodepool: batch
            containers:
            {%- for p in params %}
            {%- set project = p["project"] %}
            {%- set branch = p["branch"] %}
            {%- set org = p["org"] %}
            {%- set subdir = p["subdir"] %}
            {%- set name = org.lower()|replace("_", "-") + "-" + project.lower()|replace("_", "-") + subdir.lower()|replace("/", "-") %}
            - name: {{ name }}-pub
              image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
              command: ["gcloud"]
              args: ["pubsub", "topics", "publish", "${TOPIC_NAME}", 
                "--attribute", "\"NAME={{ name }}\"", 
                "--attribute", "\"KSA=srcclr-dsde-ksa\"",
                "--attribute", "\"PROJECT={{ project }}\"",
                "--attribute", "\"BRANCH={{ branch }}\"",
                "--attribute", "\"REPO={{ org }}/{{ project }}\"",
                "--attribute", "\"ORG={{ org }}\"",
                "--attribute", "\"SUBDIR={{ subdir }}\""]
            {%- endfor %}
            restartPolicy: OnFailure
      backoffLimit: 3