{%- set params = [{ 
                    "project": "ddp", 
                    "branch": "v1", 
                    "org": "broadinstitute", 
                    "subdir": "/pepper-apis", 
                  },
                  { 
                    "project": "ddp", 
                    "branch": "v1", 
                    "org": "broadinstitute", 
                    "subdir": "/pepper-angular/ddp-workspace", 
                  },
                  { 
                    "project": "ddp-mmrf", 
                    "branch": "qa", 
                    "org": "broadinstitute", 
                    "subdir": "", 
                  },
                  { 
                    "project": "ddp-mmrf", 
                    "branch": "qa", 
                    "org": "broadinstitute", 
                    "subdir": "/frontend", 
                  }]
%}
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: sourceclear-kdux-scans
  namespace: ${NAMESPACE}
  labels:
    jobgroup: weekly-sourceclear-scans
spec:
  schedule: "0 0 * * 0"
  jobTemplate:
    spec:
      template:
        metadata:
            name: kdux-weekly-sourceclear-scans
            labels:
                jobgroup: weekly-sourceclear-scans
        spec:
            runtimeClassName: gvisor
            nodeSelector:
              cloud.google.com/gke-nodepool: batch
            serviceAccountName: srcclr-kdux-ksa
            containers:
            {%- for p in params %}
            {%- set project = p["project"] %}
            {%- set branch = p["branch"] %}
            {%- set org = p["org"] %}
            {%- set subdir = p["subdir"] %}
            {%- set name = org.lower()|replace("_", "-") + "-" + project.lower()|replace("_", "-") + subdir.lower()|replace("/", "-") %}
            - name: {{ name }}-pub
              image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
              command: ["gcloud"]
              args: ["pubsub", "topics", "publish", "${TOPIC_NAME}", 
                "--attribute", "\"NAME={{ name }}\"", 
                "--attribute", "\"KSA=srcclr-kdux-ksa\"",
                "--attribute", "\"PROJECT={{ project }}\"",
                "--attribute", "\"BRANCH={{ branch }}\"",
                "--attribute", "\"REPO={{ org }}/{{ project }}\"",
                "--attribute", "\"ORG={{ org }}\"",
                "--attribute", "\"SUBDIR={{ subdir }}\""]
            {%- endfor %}
            restartPolicy: OnFailure
      backoffLimit: 3
