<div class="jumbotron min-vh-100">
  <div class="container">
    <div class="alert alert-danger animated fadeInRight" role="alert" *ngIf="showModalErr">
      <h4 class="alert-heading">Oops!</h4>
      <p> {{showModalError}} </p>
      <p class="mb-0">Please contact AppSec team for more information!</p>
    </div>
    <div class="alert alert-primary animated fadeInRight" role="alert" *ngIf="showModal">
      <h6> {{showModalMessage}}</h6>
    </div>
    <app-survey *ngIf="showForm" [json]="json" (submitSurvey)="sendData($event)"></app-survey>
  </div>
</div>