<div class="jumbotron min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="alert alert-danger animated fadeInRight" role="alert" *ngIf="showModalError">
                    <h4 class="alert-heading">Oops!</h4>
                    <p> {{errorMessage}} </p>
                    <p class="mb-0">Please contact AppSec team for more information!</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p><i class="fas indigo-text fa-info-circle"></i> Hello, here you can find the security controls for your service. Some of them have links that will redirect you to the security tool.</p>
        </div><br>
        <div class="row">
            <div class="col text-center">
                <div><p>{{description}}</p></div>
                <div><p>{{team}}</p></div>
                <table mdbTable #tableEl="mdbTable" hover="true" striped="true" class="z-depth-1"
                    class="animated fadeIn">
                    <th *ngFor="let head of headElements" class="mdb-color primary-color-dark white-text">
                        {{ head }}
                    </th>
                    <tbody #row>
                        <tr mdbTableCol>
                            <td>Service</td>
                            <td>{{service}}</td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Product </td>
                            <td>
                                <div [innerHTML]="productShowValue(product)"></div>
                                <div *ngIf="product_value">
                                    {{ product }}
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Sourcecode </td>
                            <td>
                                <div class="text-center"><a href="{{ github  }}" target="_blank"
                                        rel="noreferrer noopener">
                                        <mdb-icon fab icon="github" size="3x"></mdb-icon>
                                    </a></div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Dev URL </td>
                            <td>
                                <div [innerHTML]="devURLShowValue(dev_url)"></div>
                                <div *ngIf="dev_link">
                                    <a href="{{ dev_url }}" target="_blank" rel="noreferrer noopener">
                                        {{ service | lowercase}}
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> DefectDojo </td>
                            <td>
                                <div class="text-center"><a href="{{ defect_dojo }}" target="_blank"
                                        rel="noreferrer noopener">
                                        <img src="../assets/defectdojo.png" width="23px"></a> </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Threat Model </td>
                            <td>
                                <div
                                    [innerHTML]="threatmodelShowValue(threat_model, threat_model_link)">
                                </div>
                                <div *ngIf="threat_model_results">
                                    <img src="../assets/tm.png" width="30px">
                                </div>
                                <div *ngIf="threat_model_results_link">
                                    <a href="{{ threat_model_link }}" target="_blank"
                                        rel="noreferrer noopener">
                                        <img src="../assets/tm.png" width="30px"></a>
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> 3rd party dependecies scan </td>
                            <td>
                                <div [innerHTML]="sourceclearShowValue(sourceclear)"></div>
                                <div *ngIf="sourceclear_results">
                                    <a href="{{ sourceclear_link }}" target="_blank" rel="noreferrer noopener">
                                        <img src="../assets/sourceclear.png" width="30px"></a>
                                </div>
                        </tr>
                        <tr mdbTableCol>
                            <td> Security Manual pentest </td>
                            <td>
                                <div [innerHTML]="burpShowValue(burp)"></div>
                                <div *ngIf="security_pentest">
                                    <a href="{{ security_pentest_link }}" target="_blank"
                                        rel="noreferrer noopener">
                                        <img src="../assets/burpsuite.png" width="30px"></a>
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Container Image Scan </td>
                            <td>
                                <div [innerHTML]="trivyShowValue(docker_scan)"></div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> SAST </td>
                            <td>
                                <div [innerHTML]="sastShowValue(sast)"></div>
                                <div *ngIf="sast_results">
                                    <a href="{{ sast_link }}" target="_blank" rel="noreferrer noopener">
                                        <img src="../assets/sast.png" width="35px"></a>
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> DAST </td>
                            <td>
                                <div [innerHTML]="zapShowValue(zap)"></div>
                                <div *ngIf="zap_results">
                                    <a href="{{ vulnerability_management }}" target="_blank" rel="noreferrer noopener">
                                        <img src="../assets/zap.png" width="30px">
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td> CIS scan </td>
                            <td>
                                <div [innerHTML]="cisscannerShowValue(cis_scanner)"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>