<div class="jumbotron min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <table mdbTable #tableEl="mdbTable" hover="true" striped="true" class="z-depth-1"
                    class="animated fadeIn">
                    <th *ngFor="let head of headElements" class="mdb-color darken-3 white-text">
                        {{ head }}
                    </th>
                    <tbody *ngFor="let control of serviceSecurityControl" #row>
                        <tr mdbTableCol>
                            <td>Service</td>
                            <td>{{control.service}}</td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Product </td>
                            <td>{{control.product}}</td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Sourcecode </td>
                            <td><a href="{{ control.github }}" target="_blank" rel="noreferrer noopener"><mdb-icon fab icon="github" size="3x"></mdb-icon></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> DefectDojo </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/defectdojo.png" width="25px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Threat Model </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/tm.png" width="30px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> 3rd party dependecies scan </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/sourceclear.png" width="30px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Security Manual pentest </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/burpsuite.png" width="30px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> Container Image Scan </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/trivy.png" width="35px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> SAST </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/sast.png" width="35px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> DAST </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/zap.png" width="30px"></a></td>
                        </tr>
                        <tr mdbTableCol>
                            <td> CIS scan </td>
                            <td><a href="{{ control.defect_dojo }}" target="_blank" rel="noreferrer noopener"><img src="../assets/sdarq.png" width="45px"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
