<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col"> </div>
      <div class="colalign-self-center">
        <div class="spinner-grow text-primary" role="status" *ngIf="showSpinner">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status" *ngIf="showSpinner">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status" *ngIf="showSpinner">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col"> </div>
    </div>
    <div class="alert alert-success animated fadeInRight" role="alert" *ngIf="showModal">
      Notification is sent to the slack channel.
    </div>
    <div class="alert alert-danger animated fadeInRight" role="alert" *ngIf="showModalError">
      {{showModalError}}
    </div>
    <br>
    <br>
    <app-survey *ngIf="showForm" [json]="json" (submitSurvey)="sendData($event)"></app-survey>
    <br>
    <br>
  </div>
</div>