aiohttp
codedx-api @ git+https://github.com/broadinstitute/dsp-appsec-codedx-api-client-python.git@b0254f2f2b8000e830b505e6ebcc30cfc3832830
google-auth
google-cloud-pubsub
google-cloud-storage
python-owasp-zap-v2.4
requests
slack-sdk
