aiohttp
codedx-api @ git+https://github.com/broadinstitute/dsp-appsec-codedx-api-client-python.git@f04487fdc5b31402505b9af29f0ffa8a8690958d
google-auth
google-cloud-pubsub
google-cloud-storage
python-owasp-zap-v2.4
requests
slack-sdk
